<template>
    <header>
        <router-link to="/"><img src="../../assets/logo_scr.svg"></router-link>
        <ul>
            <li><router-link to="/home">home</router-link></li>
            <li><router-link to="/post-categories">post categories</router-link></li>
            <li><router-link to="/make-post">make post</router-link></li>
            <li><router-link to="/">contact</router-link></li>
        </ul>
    </header>
</template>

<style scoped>
ul {
  display: flex;
  list-style: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

li a{
    text-decoration: none;
    padding: 3rem 1rem 3rem 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    transition: 0.3s;
}

li a:hover {
    background-color: #ff0029;
    color: #fff;
    border-bottom: 1px solid #ff0029;
}

img {
    height: 5rem;
    margin-left: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

@media only screen and (max-width: 550px) {
    header {
        flex-direction: column;
    }
    ul {
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 0;
        padding: 0;
    }
    li {
        padding: 1em 0 1em 0;
    }
    li:hover a, li a:hover {
        background-color: transparent;
        color: #ff0029;
        padding-bottom: 0.5em;
        padding-top: 0;
        border-bottom: 1px solid #ff0029;
    }
    img {
        margin-top: 2em;
        margin-left: 0;
    }
}
</style>