<template>
    <base-post-detail>
        <template #header>
            {{ getTitle }}
        </template>
        <template #default>
            <img :src="getBackgroundImage"/>
            <p>
                {{ getText }}
            </p>
            <div v-if="getCite !== ''">
                <cite>
                    {{ getCite }}
                </cite>
            </div>
            <img v-if="getImage !== ''" :src="getImage">
        </template>
    </base-post-detail>
</template>

<script>
export default {
    props: ['id'],
    data() {
        return {
            currentPost: this.$store.getters['getPosts'][this.id],
        }
    },
    computed: {
        getBackgroundImage() {
            return this.currentPost.images[0];
        },
        getTitle() {
            return this.currentPost.title;
        },
        getText() {
            return this.currentPost.text;
        },
        getCite() {
            return this.currentPost.citation;
        },
        getImage() {
            if(this.currentPost.images.length > 1){
                return this.currentPost.images[1];
            }
            return '';
        },
    }
}
</script>

<style scoped>
img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

p {
    text-align: justify;
    text-justify:inter-word;
    margin-top: 2rem;
}

div {
    background-color: #bf1515cf;
    font-weight: 600;
    color: #fff;
    padding: 1em;
    text-align: justify;
}

</style>