<template>
    <div>
        <form @submit.prevent="submitForm">
            <div class="form-control">
                <input v-model.trim="category.val" name="category" type="text" maxlength="55" placeholder="Enter category of your post"/>
                <p v-if="!category.isValid" class="invalid-input">Enter the category of post please</p>
            </div>
            <div class="form-control">
                <input v-model.trim="title.val" name="title" type="text" maxlength="55" placeholder="Enter the title of your post"/>
                <p v-if="!title.isValid" class="invalid-input">Enter the title please</p>
            </div>
            <div class="form-control">
                <input v-model.trim="citation.val" name="citation" type="text" placeholder="Emphasise something, if you want"/>
            </div>
            <div class="form-control">
                <input v-model.trim="thumbnail.val" name="thumbnail" type="url" placeholder="Enter web URL of a thumbnail"/>
                <p v-if="!thumbnail.isValid" class="invalid-input">Enter the thumbnail please</p>
            </div>
            <div class="form-control">
                <input v-model.trim="otherImg.val" name="otherImg" type="url" placeholder="You can add one more image trough url"/>
            </div>
            <div class="form-control">
                <textarea v-model.trim="text.val" rows="3" name="text" placeholder="Enter the text of your blog post"></textarea>
                <p v-if="!text.isValid" class="invalid-input">Enter the text of your post please</p>
            </div>
            <div class="form-control">
                <button type="submit">PUBLISH <font-awesome-icon icon="paper-plane" /></button>
            </div>
        </form>

        <section>
            <h3>Thumbnail:</h3>
            <img :src="thumbnail.val" v-if="thumbnail.val !== ''">
            <div v-else class="image-placeholder"></div>
            <h3>Image:</h3>
            <img :src="otherImg.val" v-if="otherImg.val !== ''">
            <div v-else class="image-placeholder"></div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            category: {
                val: '',
                isValid: true
            },
            title: {
                val: '',
                isValid: true
                },
            citation: {
                val: '',
                isValid: true
            },
            thumbnail: {
                val: '',
                isValid: true
            },
            otherImg: {
                val: '',
                isValid: true
            },
            text: {
                val: '',
                isValid: true
            },
            formIsValid: true
        }
        
    },
    methods: {
        validateForm() {
          this.formIsValid = true;
          if(this.category.val === ''){
            this.category.isValid = false;
            this.formIsValid = false;
          }
          if(this.title.val === ''){
            this.title.isValid = false;
            this.formIsValid = false;
          }
          /*if(this.citation.val === ''){
            this.citation.isValid = false;
            this.formIsValid = false;
          }*/
          if(this.thumbnail.val === ''){
            this.thumbnail.isValid = false;
            this.formIsValid = false;
          }
          if(!this.otherImg.val === ''){
            this.otherImg.isValid = false;
            this.formIsValid = false;
          }
          if(this.text.val.length === ''){
            this.text.isValid = false;
            this.formIsValid = false;
          }
        },
        submitForm() {
          this.validateForm();

          if(!this.formIsValid){
            return;
          }

          let images = [this.thumbnail.val, this.otherImg.val];

          const formData = {
              category: this.category.val,
              title: this.title.val,
              citation: this.citation.val,
              images: images,
              text: this.text.val
          };
          this.$store.dispatch('addPost', formData);
          this.$router.replace('/home'); // ako push ale neda sa vratit
        }
    }
}
</script>

<style scoped>
@keyframes plane {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}

div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.image-placeholder {
    border: 5px dotted black;
    width: 70%;
    height: 20rem;
    margin-bottom: 3rem;
}

.invalid-input {
    color: #ff0029;
}

.form-control {
    padding: 1.2em;
    display: block;
}

form {
    flex-grow: 2;
}

h3 {
    color: #ff0029;
}

section {
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;;
}

img {
    max-width: 25rem;
    margin-bottom: 3rem;
}

input ,textarea{
    border: 0;
    border-bottom: 2px solid rgb(197, 197, 197);
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    width: 100%;
    transition: border-color .1s ease-in,
                border-width .1s ease-in
}

textarea {
    resize: vertical;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-bottom: 5px solid #ff0029;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}

button {
    padding: 1em;
    font-family: 'Spartan', sans-serif;
    border: 0;
    background-color: transparent;
    border: 3px solid #ff0029;
    color: #ff0029;
    font-size: 1.5em;
    transition: 0.5s;
}

button .fa-paper-plane {
    color: #fff;
    display: none;
}

button:hover {
    cursor: pointer;
    background-color: #ff0029;
    color: #fff;
}

button:hover .fa-paper-plane {
    animation: plane 0.6s ease-in-out 2;
    display: inline-block;
}

::placeholder {
    color: rgb(165, 165, 165)
}

@media only screen and (max-width: 750px) {
  div {
      flex-direction: column;
  }
  img {
    max-width: 19rem;
  }
  section {
      margin-top: 3rem;
  }
  .form-control {
      text-align: center;
  }
}
</style>