<template>
    <h3>Sorry, but this page does not exist, try <base-button :link="true" to="/">this link </base-button>instead.</h3>
</template>

<style scoped>
h3 {
    color: #000;
    margin-top: 3rem;
}
a {
    padding: 0;
    color: #ff0029;
}
</style>