<template>
    <teleport to="body">
        <transition name="modalEnter">
            <div class="backdrop bd1" v-if="modalWindow">
                <div class="backdrop" @click="imgClosed">
                </div>

                <dialog open>
                    <img :src="stateImg">
                    <font-awesome-icon icon="times" @click="imgClosed"/>
                </dialog>
            </div>
        </transition>
    </teleport>
    <section>
        <div class="wrapper">
            <header @click="imgOpened" :style="{'background-image': 'url(' + stateImg + ')'}">
            </header>
        </div>
        <h6>{{ category }}</h6>
        <h5>{{ title }}</h5>
        <hr>
        <p>{{ reworkedText }}</p>
        <base-button :link="true" :to="'/posts'+'/'+id" :mode="'dark-mode'">Read More</base-button>
    </section>
</template>

<script>
import BaseButton from '../UI/BaseButton.vue';
export default {
  components: { BaseButton },
    props: ['id', 'text', 'title', 'images', 'category', 'stateImages'],
    data() {
        return {
            modalWindow: false,
        }
    },
    computed: {
        reworkedText() {
            let splitted = this.text.split(' ');
            let finalText = '';
            for(let i = 0; i < 36; i++){
                if(i+1 > splitted.length){
                    break;
                }
                finalText = finalText + ' ' + splitted[i];
            }
            return finalText + '...';
        },
        stateImg() {
            const cat = this.category;
            const images = this.stateImages[cat];
            const randomImg = Math.floor(Math.random() * images.length);

            return images[randomImg];
        }
    },
    methods: {
        imgOpened() {
            this.modalWindow = true;
        },
        imgClosed() {
            this.modalWindow = false;
        }
    }
}
</script>

<style scoped>
.wrapper {
    overflow: hidden;
}

section:hover header {
    transform: scale(1.3);
    overflow: hidden;
}

section:hover hr {
    width: 70%;
}

h5 {
    font-size: 25px;
    margin-bottom: 0.7rem;
    margin-top: 0.9rem;
    text-align: center;
}

h6 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #acacac
}

section{
    width: 20%;
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
}

hr {
    width: 35%;
    background-color: #888888;
    border: 1.2px solid #acacac;
    transition: 0.4s;
}

p {
    color: #a3a3a3;
    font-weight: 500;
    text-align: center;
    margin-top: 0.7rem;
}

a {
    align-self: center;
}

a:hover {
    color: #616161
}

dialog {
    z-index: 51;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
}

dialog img {
    width: 100%;
    max-height: 30rem;
}

.backdrop {
    opacity: 0.4;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fa-times {
    position: absolute;
    top: -14px;
    right: -14px;
    color: white;
    font-size: 2em;
}

.fa-times:hover {
    color: rgb(230, 230, 230);
    cursor: pointer;
}

.bd1 {
    opacity: 1;
    background: transparent;
}

.modalEnter-enter-active, .modalEnter-leave-active {
    transition: all .4s;
    opacity: 0.2;
}

.modalEnter-enter-to {
    opacity: 1;
}

.modalEnter-enter, .modalEnter-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 822px) {
    .fa-times {
        display: none;
    }
    dialog {
        width: 60%
    }
}

@media only screen and (max-width: 770px) {
    section {
        width: 40%;
    }
}

@media only screen and (max-width: 482px) {
    dialog {
        width: 85%;
    }
    section {
        width: 80%;
    }
}
</style>