<template>
    <div v-for="section in sections" :key="section">
        <all-post v-for="post in posts.slice((section-1) * widthCalc, section * widthCalc)" :key="post.id"
        :id="post.id"
        :title="post.title"
        :text="post.text"
        :images="post.image"
        :category="post.category"
        :stateImages="imagesState"
        >
        </all-post>
    </div>
</template>

<script>
import AllPost from './AllPost.vue';

export default {
    components: {
        AllPost,
    },
    data() {
        return {
            posts: this.$store.getters['getPosts'],
            counter: 0,
            width: 0,
            widthCalc: 3,
            sectionS: 0
        }
    },
    computed: {
        sections() {
            const postsL = this.posts.length;

            if(this.widthCalc == 2 && postsL % 2 > 0) {
                return (Math.floor(postsL / 2)) + 1;
            }
            else if(this.widthCalc == 2 && postsL % 2 == 0) {
                return Math.floor(postsL / 2);
            }
            else if(this.widthCalc == 3 && postsL % 3 > 0){
                return (Math.floor(postsL / 3)) + 1;
            }
            else if(this.widthCalc == 3 && postsL % 3 == 0){
                return Math.floor(postsL / 2);
            }
            else if(this.widthCalc == 1){
                return postsL;
            }
            
            return Math.floor(postsL / 3);
        },
        imagesState() {
            return this.$store.state.images;
        }
    },
    watch: {
        width(newValue) {
            if(newValue < 770){
                this.widthCalc = 2;
            }
            if(newValue < 482){
                this.widthCalc = 1;
            }
            if(newValue > 770) {
                this.widthCalc = 3;
            }
        },
    },
    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    },
    unmounted() {
        window.removeEventListener('resize', this.handleResize);
    },
    methods: {
        handleResize() {
            this.width = window.innerWidth;
        }
    }
}
</script>

<style scoped>
div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}

</style>