<template>
    <base-button :style="divStyle" :link="true" :to="postLink" class="wrapper-link">
        <div>
            <h6>{{ category }}</h6>
            <h3>{{ title }}</h3>
        
            <base-button class="post-buttons" :link="true" :to="postLink" mode="light-mode">
                Read More
            </base-button>
        </div>
    </base-button>
</template>

<script>
import BaseButton from '../UI/BaseButton.vue'
export default {
  components: { BaseButton },
    props: ['title', 'images', 'id', 'category'],
    data() {
        return {
            divStyle: {
                backgroundImage: 'url(' + this.images[0] + ')'
            }
        }
    },
    computed: {
        postLink() {
            return '/posts' + '/' + this.id;
        }
    }
}
</script>

<style scoped>
.wrapper-link {
    width: 25%;
    height: 30em;
    margin: 0 0.1rem;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(var(--scale));
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.wrapper-link:hover {
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0);
    transform: scale(0.9);
    cursor: pointer;
}

div {
    margin: 0;
    position: absolute;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6 {
    color: #fff;
    margin-bottom: 25px;
}

.post-buttons {
    bottom: 3rem;
    display: block;
}

.post-buttons:hover div {
    color: #000;
}

@media only screen and (max-width: 1024px) {
    .wrapper-link {
        width: 70%;
        margin-bottom: 3em;
    }
    .wrapper-link:last-child {
        margin-bottom: 0;
    }
}

</style>