<template>
    <div>
        <ul>
            <highlited-post v-for="post in posts" :key="post.id"
            :title="post.title"
            :images="post.images"
            :id="post.id"
            :category="post.category"
            >
            </highlited-post>
        </ul>
    </div>
</template>

<script>
import HighlitedPost from './HighlitedPost.vue';

export default {
    components: {
        HighlitedPost
    },
    computed: {
        posts() {
            const posts = this.$store.getters['getPosts'];
            const postsL = posts.length;
            let newest = [];

            for(let i = postsL-1; i >= postsL-4; i--) {
                newest.push(posts[i]);
            }
            return newest;
        }
    }
}
</script>

<style scoped>
ul {
    margin: 0;
    padding: 0;
    display: flex;
}

@media only screen and (max-width: 1024px) {
    ul {
        flex-direction: column;
        align-items: center;
    }
}
</style>