<template>
    <div>
        <ul>
            <category-post v-for="post in selectPosts" :key="post.id"
            :title="post.title"
            :images="post.images"
            :id="post.id"
            :category="post.category"
            :text="post.text"
            :stateImages="imagesState"
            >
            </category-post>
        </ul>
    </div>
</template>

<script>
import categoryPost from '../../components/homepage-comps/AllPost.vue';

export default {
    components: {
        categoryPost
    },
    props: ['id'],
    data() {
        return {
            posts: this.$store.state.posts,
        }
    },
    computed: {
        selectPosts() {
            let filtered = this.posts.filter(post => post.category === this.id);
            console.log(filtered);
            return filtered;
        },
        imagesState() {
            return this.$store.state.images;
        }
    }
}
</script>

<style scoped>
ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

section {
    width: 50%
}
</style>