<template>
    <ul>
        <li v-for="post in filterCategories" :key="post">
            <base-button :link="true" :to="'/category/' + post">
                {{ post }}
            </base-button>
        </li>
    </ul>
</template>

<script>
export default {
    data() {
        return {
            posts: this.$store.state.posts,
        }
    },
    computed: {
        filterCategories() {
            let filtered = [];

            for(const post of this.posts) {
                if(filtered.indexOf(post.category) == -1) {
                    filtered.push(post.category);
                }
            }
            return filtered;
        }
    },
    watch: {
        $route: {
            immediate: true,
            handler(to) {
                document.title = to.meta.title || 'Categories';
            }
        },
    }
}
</script>

<style scoped>
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 3rem;
    padding: 0 1rem;
}

li {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
    border: 0;
    transition: 0.2s;
}

li:hover {
    border-bottom: 2px solid #ff0029;
    transform: scale(1.15);
    padding: 0.5rem;
    cursor: pointer;
}

a {
    color: black
}


</style>