<template>
    <div>
        <post-form></post-form>
    </div>
</template>

<script>
import PostForm from '../../components/make-post/PostForm.vue';

export default {
    components: {
        PostForm
    },
    watch: {
        $route: {
            immediate: true,
            handler(to) {
                document.title = to.meta.title || 'Create Post';
            }
        },
    }
}
</script>