<template>
    <base-header></base-header>
    <router-view v-slot="slotProps">
        <transition name="route" mode="out-in">
            <component :is="slotProps.Component"></component>
        </transition>
    </router-view>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');

header {
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.7s;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h6 {
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.route-enter-from {
    opacity: 0;
    transform: scale(0.6, 0,6);
}

.route-leave-to {
    opacity: 0;
    transform: scale(1.1, 1.1);
}

.route-enter-active {
    transition: all 0.4s ease-out;
}

.route-leave-active {
    transition: all 0.4s ease-in;
}

.route-enter-to,
.route-leave-from {
    opacity: 1;
    transform: scale(1, 1);
}
</style>