<template>
    <div>
        <base-post-detail>
            <template #header>
                Post News Feed
            </template>
        </base-post-detail>
        <highlited-posts></highlited-posts>
        <base-post-detail>
            <template #header>
                All posts
            </template>
        </base-post-detail>
        <all-posts></all-posts>
    </div>
</template>

<script>
import HighlitedPosts from '../../components/homepage-comps/HighlitedPosts.vue';
import AllPosts from '../../components/homepage-comps/AllPosts.vue';

export default {
    components: {
        HighlitedPosts,
        AllPosts
    },
    watch: {
        $route: {
            immediate: true,
            handler(to) {
                document.title = to.meta.title || 'Home';
            }
        },
    }
}
</script>