<template>
    <section>
        <header class="rb">
            <h3>
                <slot name="header">
                </slot>
            </h3>
        </header>
        <main>
            <slot></slot>
        </main>
    </section>
</template>

<style scoped>
header {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

main {
    text-align: center;
    width: 55%;
}

h3 {
    color: #000;
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: initial;
    transition: 0.3s;
    padding: 0 1em;
}

h3:hover {
    letter-spacing: 0.2em;
}

@media only screen and (max-width: 860px) {
    h3 {
        font-size: 2em;
    }
    main{
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    h3 {
        font-size: 1.5em;
    }
    main{
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    h3 {
        font-size: 1.3em;
    }
    main{
        width: 90%;
    }
}
</style>