<template>
    <section>
        <header>
            <slot name="thumbnail">
            </slot>
        </header>
        <h5>
            <slot name="subsection">
            </slot>
        </h5>
        <h3>
            <slot name="title">
            </slot>
        </h3>
        <hr>
        <p>
            <slot name="default">
            </slot>
        </p>
    </section>
</template>