<template>
    <button v-if="!link" :class="mode">
        <slot>
        </slot>
    </button>
    <router-link :to="to" v-else :class="mode">
        <slot>
        </slot>
    </router-link>
</template>

<script>
export default {
    props: ['link', 'mode', 'to']
}
</script>

<style scoped>
button, a {
    padding: 0.7rem 1.2rem;
    background-color: transparent;
    text-decoration: none;
}
.dark-mode {
    color: #929292;
    font-weight: 500;
}

.light-mode {
    color: #fff;
    border: 1px solid #fff;
}
</style>